#manage-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary);

  .event-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input, textarea {
      width: 100%;
      margin-bottom: 10px;
      color: white;
      padding: 5px;
    }

    label {
      display: flex;
      span {
        width: 70px;
      }
      width: 100%;
    }

    button {
      margin-top: 10px;
    }
  }

  .catch {
    height: calc(70svh - var(--navbar-height));
    width: calc(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.pexels.com/photos/2263436/pexels-photo-2263436.jpeg?cs=srgb&dl=pexels-teddy-yang-2263436.jpg&fm=jpg");
    background-size: cover;
    background-position: center;

    .titles {
      backdrop-filter: blur(7px);
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
  
      h1 {
        position: relative;
        top: -100vh;
        animation-name: go-in-top;
        animation-duration: 1s;
        // animation-delay: 1.5s;
        animation-fill-mode: forwards;
        text-shadow: -1px 1px 6px rgba(0,0,0,0.6);
      }
    }
  }
  .events {
    padding: 50px 25px;
    width: clamp(200px, 100%, 1220px);
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 20px;
    padding-bottom: 200px;
  }

  .create-event {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}