:root {
  --primary: #87010F;
  --secondary: #4D242A;
  --action: #E1A956; //#24DB9E;
  --navbar-height: 60px;

  * {
    font-family: Verdana;
  }

  h1, h2, h3, h4, h5 {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
  }

  a {
    color: white;

    &:hover {
      color: white;
    }
  }

  input, textarea {
    background-color: var(--secondary);
    color: white !important;
    border-radius: 5px;

    &::placeholder{
      color: white;
    }
  }

  button {
    &.btn {
      display: flex;
      border-radius: 5px;
      font-weight: bold;
      border: none !important;
      transition: 0.2s;
      position: relative;
      box-shadow: 0px 0px 0px 0px black;

      a {
        font-weight: bold;
      }

      &:hover {
        transform: translateY(-2px);
        // box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.20);
      }

      &.primary {
        background-color: var(--primary);
      }
      &.secondary {
        background-color: var(--secondary);
      }
      &.action {
        background-color: var(--action);
        color: white !important;
        a {
          color: white !important;
        }
      }
    }
  }
}

body {
  width: 100%;
}

#root {
  min-height: 100vh;
  min-height: 100svh;
  min-width: 100%;
  max-height: 100%;
  #layout {
    height: 100%;
    width: 100%;
    overflow: hidden;

    .page {
      min-height: 100%;
      min-width: 100%;
    }
  }
}

@keyframes go-in-top {

  0% {
    top: -100vh;
  }

  100% {
    top: 0;
  }
  
}

@keyframes go-in-bottom {

  0% {
    bottom: -100vh;
  }

  100% {
    bottom: 0;
  }
  
}
