.event-card {
  background-color: white;
  border-radius: 5px;
  padding: 0 10px;
  display: flex;
  gap: 20px;
  .title {
    color: var(--secondary);
  }

  .btn {
    width: fit-content;
    margin: auto;
  }
}